html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	color: white;
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
    vertical-align: baseline;
}
/* for the most part we are going to reset everything to 0 so that our styles can be applied properly and will show up, this becomes helpful for later when we start using grid because
what happens usually if we dont do a generalized reset the browser squishes everything to the top of the page and we cant really see whats happening at all
*/
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

header {
	width: 100%;
	text-align: center;
	color: white;
	transition: .4s;
	mix-blend-mode: hard-light;
}

header:hover {
	background: #353b48;
}

nav {
	display: grid;
	height: 100%;
	grid-template-columns: .5fr 1fr 1fr;
	grid-template-areas: 'img title links';
}

nav img {
	height: 100px;
	width: 100px;
	grid-area: img;
	justify-self: center;
	align-self: center;
}

nav ul {
	display: grid;
	grid-gap: 10px;
	grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
	align-self: center;
}

nav a {
	background: #44bd32;
	display: block;
	text-align: center;
	text-transform: uppercase;
	font-size: 15px;
	text-decoration: none;
	padding: 10px;
	border-radius: 5px;
}

nav a:hover,
.more a:hover {
	animation: shadow-drop-br 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	background: linear-gradient(320deg, #6ab04c 0%, #30336b 100%)
}

@keyframes shadow-drop-br {
	0% {
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
	}

	100% {
		box-shadow: 12px 12px 20px -12px rgba(0, 0, 0, 1);
	}
}

nav span {
	color: #bdf3db;
	font-family: 'Kaushan Script', cursive;
	font-size: 4vh;
	align-self: center;
	justify-self: center;
}